<% flash.each do |type, msg| %>
    <div class="row">
    	<div class="col-md-12">
    		<div class="alert <%= phc_notifi(type) %> alert-dismissable fade show" role="alert">
    			<span class="close" data-dismiss="alert">×</span>
    			<%= msg %>
    		</div>
    	</div>
    </div>
<% end %> 
