<!DOCTYPE html>
<html>
<head>
  <title>Phcnotifi</title>
  <%= stylesheet_link_tag    "phcnotifi/application", media: "all" %>
  <%= javascript_include_tag "phcnotifi/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
